### Hypothesis Testing Case Study

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
%matplotlib inline
import math

In [2]:
pwd()

u'C:\\Users\\admin\\Desktop\\Advanced Big Data Science\\3. Basic Statistics\\Statistical Tests Case Study'

In [3]:
cust=pd.read_csv("cust_seg.csv")

In [4]:
cust.head(5)

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2

In [5]:
cust.columns

Index([u'custid', u'sex', u'AqChannel', u'region', u'Marital_status',
       u'segment', u'pre_usage', u'Post_usage_1month', u'Latest_mon_usage',
       u'post_usage_2ndmonth'],
      dtype='object')

In [ ]:
cust.Latest_mon_usage.mean()

In [ ]:
cust.Latest_mon_usage.std()

### One Sample T-Test

In [8]:
stats.ttest_1samp(a= cust.Latest_mon_usage,               # Sample data
                 popmean= 62)  # Pop mean

Ttest_1sampResult(statistic=1.4768425879432956, pvalue=0.14129857608766638)

In [7]:
cust.Latest_mon_usage.mean()

63.17400000000001

### Two Sample T-Test (Paired)

In [ ]:
print cust.pre_usage.mean()
print cust.post_usage_2ndmonth.mean()

In [9]:
#stats.ttest_rel(a = before, b = after)
stats.ttest_rel(a=cust.pre_usage,
                b=cust.post_usage_2ndmonth)    # Assume samples have equal variance?

Ttest_relResult(statistic=-8.8668322469387419, pvalue=4.2957338280128361e-16)

### Two sample T-Test (Independent)

In [10]:
Males_spend = cust.Post_usage_1month[cust.sex==0]
FeMales_spend = cust.Post_usage_1month[cust.sex==1]

In [11]:
print FeMales_spend.head(3)
print Males_spend.head(3)

1     59
92    62
93    44
Name: Post_usage_1month, dtype: int64
0    52
2    33
3    44
Name: Post_usage_1month, dtype: int64

In [12]:
print Males_spend.mean()
print FeMales_spend.mean()

50.1208791209
54.9908256881

In [15]:
print Males_spend.std()
print FeMales_spend.std()

10.3051606973
8.13371516959

In [16]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=False)    # Assume samples have equal variance?

Ttest_indResult(statistic=-3.6564080478875276, pvalue=0.00034088493594266187)

In [18]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=True)    # Assume samples have equal variance?

Ttest_indResult(statistic=-3.7340738531536797, pvalue=0.00024625461203549315)

In [17]:
stats.f_oneway(Males_spend, FeMales_spend)

F_onewayResult(statistic=13.943307540805989, pvalue=0.00024625461203549033)

### ANOVA

In [ ]:
cust.segment.value_counts()

In [19]:
s1 = cust.Latest_mon_usage[cust.segment==1]
s2 = cust.Latest_mon_usage[cust.segment==2]
s3 = cust.Latest_mon_usage[cust.segment==3]

# Perform the ANOVA
stats.f_oneway(s1, s2, s3)

F_onewayResult(statistic=29.279283801321778, pvalue=7.3640108335267396e-12)

In [22]:
cust.Latest_mon_usage.mean()
cust.Latest_mon_usage.std()

11.242137352892753

In [20]:
print s1.mean(); print s2.mean(); print s3.mean()

60.0266666667
68.08
55.704

### Chi-squre Test

In [23]:
t=pd.crosstab(cust.segment, cust.region, margins = True)
t

region    1   2   3  All
segment
1        16  20   9   45
2        19  44  42  105
3        12  31   7   50
All      47  95  58  200

In [24]:
stats.chi2_contingency(observed= t)

(16.604441649489338,
 0.055282939487992365,
 9L,
 array([[  10.575,   21.375,   13.05 ,   45.   ],
        [  24.675,   49.875,   30.45 ,  105.   ],
        [  11.75 ,   23.75 ,   14.5  ,   50.   ],
        [  47.   ,   95.   ,   58.   ,  200.   ]]))

### Correlation

In [25]:
print np.corrcoef(cust.Latest_mon_usage, cust.Post_usage_1month)
print stats.stats.pearsonr(cust.Latest_mon_usage, cust.Post_usage_1month)

[[ 1.          0.61744926]
 [ 0.61744926  1.        ]]
(0.61744926448549187, 2.0866647416871388e-22)

### Simple regression

In [ ]:
sm.OLS?

In [ ]:
 statsmodels.tools.add_constant?

In [ ]:
import statsmodels.api as sm
Y = cust.Latest_mon_usage
X = sm.add_constant(cust.Post_usage_1month )
mod = sm.OLS(Y, X)
res = mod.fit()
print res.summary()